<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Подтверждение email</title>
</head>
<body>
    <h2>Подтверждение регистрации</h2>
    <p>Здравствуйте, {{ user.username }}!</p>
    <p>Для завершения регистрации нажмите на ссылку ниже:</p>
    <p>
        <a href="http://{{ domain }}{% url 'users:verify_email' uidb64=uid token=token %}">
            Подтвердить email
        </a>
    </p>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
    <hr>
    <p><small>Это автоматическое сообщение, пожалуйста, не отвечайте на него.</small></p>
</body>
</html>